@import 'index.css';

.our-faculty{
    margin: 0 10%;
    margin-top: 3rem;
}

.faculty-list{
    margin: 5% 10%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    /* row-gap: 10%; */
}

.faculty-card{
    background-color: rgb(236, 233, 181);
    display: flex;
    margin:5% 0;
}

.image img{
    width: 10vw;
    margin: 0.5rem;
    padding: 10px;
}

.details h3{
    padding-top: 10px;
    margin-bottom: 0;
}
.details small{
    margin-bottom: 10px;
    display: block;
}
.qualification{
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.degrees{
    padding: 15px 0;
    font-size: 0.9rem;
}

/* Footer */

/* 
footer{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}
.contact-details{
    margin: 5%;
    width: 55vw;
}

.map{
    margin: 1rem;
    font-size: 1.5rem;
}

iframe{
    box-shadow: var(--light-shadow);
}

.location{
    display: flex;
    margin: 0.8rem;
}

.location i{
    margin: 10px;
} */
